{% extends "base.html" %}

{% block title %}Rewrite It!{% endblock title %} 

{% block content %}

<h1 class="text-5xl text-primary mx-auto flex justify-center"> Rewrite It! </h1>

<select id="model-select" name="model_select" class="select select-bordered w-40 flex mx-auto justify-center">
  {% for model in models %}
  <option value="{{ model }}">{{ model }}</option>
  {% endfor %}
</select>

<div class="flex flex-col items-center gap-6 max-w-lg mx-auto mt-10">
    <div class="w-full">
        <textarea id="input-code" name="input_code"></textarea>
    </div>
    
    <div class="flex flex-row items-center justify-center gap-4 w-full">
          <!-- Input Select Box -->
          <select id="input-select" name="input_select" class="select select-bordered w-40">
            <option value="javascript">JavaScript</option>
            <option value="rust">Rust</option>
            <option value="python">Python</option>
          </select>
          <!-- Rewrite Button -->
          <button 
            class="btn btn-primary w-40"
            hx-post="/hx/rewrite"
            hx-include="#input-code,#input-select,#output-select,#model-select"
            hx-target="#output-code"
            hx-swap="none"
          >Rewrite It!</button>
          <!-- Output Select Box -->
          <select id="output-select" name="output_select" class="select select-bordered w-40">
            <option value="rust">Rust</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
          </select>
    </div>
  
    <div class="w-full">
        <textarea id="output-code"></textarea>
    </div>

    <div class="w-full">
        <textarea id="output-explanation" class="textarea"></textarea>
    </div>
</div>

{% endblock content %}

{% block script %}

<script>
  var inputEditor = CodeMirror.fromTextArea(document.getElementById("input-code"), {
    lineNumbers: true,
    mode: "javascript",
    theme: "default"
  });

  inputEditor.on("change", function(e) {
    e.save();
  });

  var outputEditor = CodeMirror.fromTextArea(document.getElementById("output-code"), {
    lineNumbers: true,
    mode: "rust",
    theme: "default"
  });

  outputEditor.on("change", function(e) {
    e.save();
  });

  document.body.addEventListener("htmx:afterRequest", function(evt) {
    console.log(evt);
    if (evt.detail.target.id === "output-code") {
        var data = JSON.parse(evt.detail.xhr.responseText);
        console.log(data);
        outputEditor.setValue(data.code);
        document.getElementById('output-explanation').value = data.explanation;
    }
  });

  document.getElementById("input-select").addEventListener("change", function () {
    var newLang = this.value;
    inputEditor.setOption("mode", newLang);
  });

  document.getElementById("output-select").addEventListener("change", function () {
    var newLang = this.value;
    outputEditor.setOption("mode", newLang);
  });
</script>
  
{% endblock script %}