{% extends "base.html" %}

{% block title %}Rewrite It!{% endblock title %} 

{% block content %}

<h1 class="text-primary mx-auto flex"> Rewrite It! </h1>

<div class="flex flex-col items-center gap-6 max-w-lg mx-auto mt-10">
    <div class="w-full">
        <textarea id="input-code" name="input_code"></textarea>
    </div>
    
    <div class="flex flex-row items-center justify-center gap-4 w-full">
          <!-- Input Select Box -->
          <select id="input-select" name="input_select" class="select select-bordered w-40">
            <option value="javascript">JavaScript</option>
            <option value="rust">Rust</option>
            <option value="python">Python</option>
          </select>
          <!-- Rewrite Button -->
          <button 
            class="btn btn-primary w-40"
          >Rewrite It!</button>
          <!-- Output Select Box -->
          <select id="output-select" name="output_select" class="select select-bordered w-40">
            <option value="rust">Rust</option>
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
          </select>
    </div>
  
    <div class="w-full">
        <textarea id="output-code"></textarea>
    </div>
</div>

{% endblock content %}